USE [SGI]
GO
/****** Object:  StoredProcedure [dbo].[reporte_movimientos]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hubet Cardenas Isla
-- Create date: 2025-10-22
-- Description:	Reporte de movimientos
-- =============================================
-- =============================================
-- Testing area:
/*
    DECLARE @fecha_inicial date, @fecha_final date

    SET @fecha_inicial = (CONVERT(date, GETDATE() - 1))
    SET @fecha_final = (CONVERT(date, GETDATE()))

    EXEC reporte_movimientos @fecha_inicial, @fecha_final
*/
-- =============================================
CREATE PROCEDURE [dbo].[reporte_movimientos] 
	-- Add the parameters for the stored procedure here
	@fecha_inicial date,
	@fecha_final date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	    SELECT M.id_movimiento AS ID
              ,P.nombre AS Producto
              ,U.nombre AS Usuario
              ,TM.nombre AS Movimiento
              ,M.cantidad AS Cantidad
              ,M.fecha_movimiento AS Fecha
          FROM dbo.Movimiento AS M WITH(NOLOCK)
    INNER JOIN dbo.Producto AS P WITH(NOLOCK)
            ON M.id_producto = P.id_producto
    INNER JOIN dbo.Usuario AS U  WITH(NOLOCK)
            ON M.id_usuario = U.id_usuario
    INNER JOIN dbo.Tipo_Movimiento AS TM  WITH(NOLOCK)
            ON M.id_tipo_movimiento = TM.id_tipo_movimiento
         WHERE CONVERT(date, M.fecha_movimiento) BETWEEN @fecha_inicial AND @fecha_final
      ORDER BY M.fecha_movimiento DESC
END
GO
