USE [SGI]
GO
/****** Object:  Table [dbo].[Tipo_Contacto]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Contacto](
	[id_tipo_contacto] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tipo_Contacto] PRIMARY KEY CLUSTERED 
(
	[id_tipo_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tipo_Contacto] ADD  CONSTRAINT [DF_Tipo_Contacto_id_tipo_contacto]  DEFAULT (newsequentialid()) FOR [id_tipo_contacto]
GO
