USE [SGI]
GO
/****** Object:  Table [dbo].[Proveedor_Contacto]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Contacto](
	[id_proveedor_contacto] [uniqueidentifier] NOT NULL,
	[valor_contacto] [nvarchar](250) NULL,
	[preferido] [bit] NULL,
	[activo] [bit] NULL,
	[observaciones] [nvarchar](500) NULL,
	[id_proveedor] [uniqueidentifier] NULL,
	[id_tipo_contacto] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Proveedor_Contacto] PRIMARY KEY CLUSTERED 
(
	[id_proveedor_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proveedor_Contacto] ADD  CONSTRAINT [DF_Proveedor_Contacto_id_proveedor_contacto]  DEFAULT (newsequentialid()) FOR [id_proveedor_contacto]
GO
ALTER TABLE [dbo].[Proveedor_Contacto] ADD  CONSTRAINT [DF_Proveedor_Contacto_preferido]  DEFAULT ((0)) FOR [preferido]
GO
ALTER TABLE [dbo].[Proveedor_Contacto] ADD  CONSTRAINT [DF_Proveedor_Contacto_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Proveedor_Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Contacto_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Proveedor_Contacto] CHECK CONSTRAINT [FK_Proveedor_Contacto_Proveedor]
GO
ALTER TABLE [dbo].[Proveedor_Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Contacto_Tipo_Contacto] FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[Tipo_Contacto] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[Proveedor_Contacto] CHECK CONSTRAINT [FK_Proveedor_Contacto_Tipo_Contacto]
GO
