USE [SGI]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](250) NULL,
	[precio_unitario] [decimal](13, 2) NULL,
	[stock_actual] [int] NULL,
	[activo] [bit] NULL,
	[id_categoria] [uniqueidentifier] NULL,
	[id_proveedor] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_id_producto]  DEFAULT (newsequentialid()) FOR [id_producto]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_precio_unitario]  DEFAULT ((0.00)) FOR [precio_unitario]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_stock_actual]  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
