USE [SGI]
GO
/****** Object:  Table [dbo].[Usuario_Rol]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Rol](
	[id_usuario_rol] [uniqueidentifier] NOT NULL,
	[nombre] [varchar](250) NULL,
 CONSTRAINT [PK_Usuario_Rol] PRIMARY KEY CLUSTERED 
(
	[id_usuario_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_Rol] ADD  CONSTRAINT [DF_Usuario_Rol_id_usuario_rol]  DEFAULT (newsequentialid()) FOR [id_usuario_rol]
GO
