USE [SGI]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[id_movimiento] [uniqueidentifier] NOT NULL,
	[fecha_movimiento] [datetime] NULL,
	[cantidad] [int] NULL,
	[id_producto] [uniqueidentifier] NULL,
	[id_usuario] [uniqueidentifier] NULL,
	[id_tipo_movimiento] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movimiento] ADD  CONSTRAINT [DF_Movimiento_id_movimiento]  DEFAULT (newsequentialid()) FOR [id_movimiento]
GO
ALTER TABLE [dbo].[Movimiento] ADD  CONSTRAINT [DF_Movimiento_fecha_movimiento]  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[Movimiento] ADD  CONSTRAINT [DF_Movimiento_cantidad]  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Producto]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Tipo_Movimiento] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [dbo].[Tipo_Movimiento] ([id_tipo_movimiento])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Tipo_Movimiento]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Usuario]
GO
