USE [SGI]
GO
/****** Object:  StoredProcedure [dbo].[registrar_movimiento]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hubet Cardenas Isla
-- Create date: 2025-10-22
-- Description:	Registro de movimientos con validación
-- =============================================
-- =============================================
-- Testing area:
/*
	-- Entrada
	DECLARE @pid_producto uniqueidentifier,
			@pid_usuario uniqueidentifier,
			@pid_tipo_movimiento uniqueidentifier,
			@pcantidad int

	SET @pid_producto = '72e895fc-afaf-f011-b43d-0a62228132c4'
	SET @pid_usuario = 'C5543CE8-ABAF-F011-B43D-0A62228132C4'
	SET @pid_tipo_movimiento = '51245C17-9DAF-F011-B43D-0A62228132C4' 
	SET @pcantidad = 10

    EXEC registrar_movimiento @pid_producto, @pid_usuario, @pid_tipo_movimiento, @pcantidad


	-- Salida
	DECLARE @pid_producto uniqueidentifier,
			@pid_usuario uniqueidentifier,
			@pid_tipo_movimiento uniqueidentifier,
			@pcantidad int

	SET @pid_producto = '72e895fc-afaf-f011-b43d-0a62228132c4'
	SET @pid_usuario = 'C5543CE8-ABAF-F011-B43D-0A62228132C4'
	SET @pid_tipo_movimiento = '52245C17-9DAF-F011-B43D-0A62228132C4' 
	SET @pcantidad = 1

    EXEC registrar_movimiento @pid_producto, @pid_usuario, @pid_tipo_movimiento, @pcantidad
*/
-- =============================================
CREATE PROCEDURE [dbo].[registrar_movimiento]
	-- Add the parameters for the stored procedure here
	@pid_producto uniqueidentifier,
	@pid_usuario uniqueidentifier,
	@pid_tipo_movimiento uniqueidentifier,
	@pcantidad int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @insercion_valida bit

	SET @insercion_valida = 1

	IF @pid_tipo_movimiento = ((SELECT [id_tipo_movimiento] FROM [Tipo_Movimiento] NOLOCK WHERE [nombre] = 'Salida'))
	BEGIN
		SET @insercion_valida = (SELECT [dbo].[validar_stock_suficiente] (@pid_producto,@pcantidad))
	END

	IF @insercion_valida = 1
	BEGIN
		INSERT
		  INTO Movimiento
			  (id_producto
			  ,id_usuario
			  ,id_tipo_movimiento
			  ,cantidad)
		VALUES(@pid_producto
			  ,@pid_usuario
			  ,@pid_tipo_movimiento
			  ,@pcantidad)
	END
	ELSE
	BEGIN
		SELECT 'Stock insuficiente para realizar la salida'
	END
END
GO
