USE [SGI]
GO
/****** Object:  UserDefinedFunction [dbo].[validar_stock_suficiente]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hubet Cardenas Isla
-- Create date: 2025-10-22
-- Description:	Validación de stock antes de salida
-- =============================================
CREATE FUNCTION [dbo].[validar_stock_suficiente] 
(	
	-- Add the parameters for the function here
	@pid_producto uniqueidentifier,
    @pcantidad int
)
RETURNS bit
AS
BEGIN
	DECLARE @stock_actual int

	SET @stock_actual = (SELECT stock_actual FROM [Producto] WHERE [id_producto] = @pid_producto)

	-- Add the SELECT statement with parameter references here
	RETURN (CASE WHEN @stock_actual >= @pcantidad THEN 1 ELSE 0 END)
END
GO
