USE [SGI]
GO
/****** Object:  Table [dbo].[Usuario_Contacto]    Script Date: 10/23/2025 4:43:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Contacto](
	[id_usuario_contacto] [uniqueidentifier] NOT NULL,
	[valor_contacto] [nvarchar](250) NULL,
	[preferido] [bit] NULL,
	[activo] [bit] NULL,
	[observaciones] [nvarchar](500) NULL,
	[id_usuario] [uniqueidentifier] NULL,
	[id_tipo_contacto] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Usuario_Contacto] PRIMARY KEY CLUSTERED 
(
	[id_usuario_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario_Contacto] ADD  CONSTRAINT [DF_Usuario_Contacto_id_usuario_contacto]  DEFAULT (newsequentialid()) FOR [id_usuario_contacto]
GO
ALTER TABLE [dbo].[Usuario_Contacto] ADD  CONSTRAINT [DF_Usuario_Contacto_preferido]  DEFAULT ((0)) FOR [preferido]
GO
ALTER TABLE [dbo].[Usuario_Contacto] ADD  CONSTRAINT [DF_Usuario_Contacto_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuario_Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Contacto_Tipo_Contacto] FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[Tipo_Contacto] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[Usuario_Contacto] CHECK CONSTRAINT [FK_Usuario_Contacto_Tipo_Contacto]
GO
ALTER TABLE [dbo].[Usuario_Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Contacto_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario_Contacto] CHECK CONSTRAINT [FK_Usuario_Contacto_Usuario]
GO
